h1{
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    margin: 10px;
    margin-bottom: 20px;
}
.todoitem{
    margin-top: 10px;
}
input{
    width: 100%;
}
button{
    width: 100%;
}
.todoitem-container{
    text-align: left;
}
.my-row{
    margin: 10px 5px;
}